# Project: iOT Sensor Data Analysis

## Problem Statement

In this Dataset, we have the temperature readings from IoT devices installed outside and inside of an anonymous room. Because the device was in the testing phase, it was uninstalled or shut off several times during the entire reading period, which caused some outliers and missing-values.

### Dataset details:

        id : unique IDs for each reading
        room_id/id : room id in which device was installed(currently 'admin room' only for example purpose).
        noted_date : date and time of reading
        temp : temperature readings
        out/in : whether reading was taken from device installed inside or outside of room

### Step 1: Load the important libraries

import pandas as pd

### Step 2: Read the data and check how it looks

In [7]:
input_df = pd.read_csv("data/temp-data.csv")

In [8]:
input_df.head()

,id,room_id/id,noted_date,temp,out/in
0,__export__.temp_log_196134_bd201015,Room Admin,08-12-2018 09:30,29,In
1,__export__.temp_log_196131_7bca51bc,Room Admin,08-12-2018 09:30,29,In
2,__export__.temp_log_196127_522915e3,Room Admin,08-12-2018 09:29,41,Out
3,__export__.temp_log_196128_be0919cf,Room Admin,08-12-2018 09:29,41,Out
4,__export__.temp_log_196126_d30b72fb,Room Admin,08-12-2018 09:29,31,In